



body {
	background-image: url(/Backgrounds/7.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	background-size: cover;
}
#canvas {
	height: 150px;
}

.menu{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.boton{
	background-color:rgba(8, 8, 8, 0.603);
	margin: 10px;
	width:200px;
	height: 50px;
	border: none;
	color: white;
	border-radius: 4px;
	transition: ease-out 0.3s;
	font-size: 20px;
	outline:none;
	border: 3px solid #0d8992;
	position: relative;
	z-index:1
}

.boton:hover{
	color: rgb(0, 0, 0);
	cursor: pointer;
}

.boton:before{
	transition: 0.5s all ease;
	position: absolute;
	top:0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: #0d8992;
}

.boton:hover:before{
	transition: 0.5s all ease;
	left:0;
	right:0;
	opacity: 1;
	z-index:-1
}

.contenedorPrincipal{
	display: flex;
	flex-direction: row;
}

.txt-Neon{
	font-family: monospace;
}