/* llamar a la fuente */

@font-face {
  font-family: "mister-pixel";
  src: url("mister-pixel.ttf");
}

/* Lo unico que necesitamos del normalize (para lo que vamos a hacer) */

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(/backgrounds/FondoP.png); /* Fondo principal */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
}

.menu {
  text-align: center;
}
