/* llamar a la fuente */

@font-face {
  font-family: "ARCADE CLASSIC";
  src: url("../fonts/ARCADECLASSIC.TTF");
}

/* Lo unico que necesitamos del normalize (para lo que vamos a hacer) */

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(/backgrounds/FondoPblur.jpg); /* Fondo principal */
  background-attachment: fixed;
  background-size: cover;

}

/* Efecto blur */
#container {
  width: 400px;
  height: 0%;
  border-radius: 6px;
  box-shadow: 0 10px 30px #000;
  /* ES POR ESTO */
  margin: 240px auto 0px auto;
  border: 1px solid #ffffff40;
  text-align: center;
}

.blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(73, 72, 72, 0.2);
}

/* Esta es la animacion del boton base */

.btn-neon {
  margin: 10px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 4px;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  font-family: "ARCADE CLASSIC", "Arial";
}

.btn-neon:hover {
  background: rgb(187, 187, 8);
  box-shadow: 0 0 10px rgb(187, 187, 8), 0 0 40px rgb(187, 187, 8), 0 0 80px rgb(187, 187, 8);
  transition-delay: 0.4s;
}

.btn-neon span {
  position: absolute;
  display: block;
}

.span {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(187, 187, 8));
}

.btn-neon:hover .span {
  right: 100%;
  transition: 1s;
}

/* Con la ayuda de id's y clases logro reciclar la animacion anterior, pero con diferentes colores */

/* Boton azul */
#azul:hover {
  background: rgb(7, 31, 161);
  box-shadow: 0 0 10px rgb(7, 31, 161), 0 0 40px rgb(7, 31, 161), 0 0 80px rgb(7, 31, 161);
}

#spanAzul {
  background: linear-gradient(270deg, transparent, rgb(7, 31, 161));
}

/* Boton rojo */

#rojo:hover {
  background: rgb(156, 20, 20);
  box-shadow: 0 0 10px rgb(156, 20, 20), 0 0 40px rgb(156, 20, 20), 0 0 80px rgb(156, 20, 20);
}

#spanRojo {
  background: linear-gradient(270deg, transparent, rgb(156, 20, 20));
}

/* Boton volver al menu */
#blanco{
  bottom: 320px;
  color: rgb(197, 193, 193);
  /* margin: 20px 0px 0px 0px; */
  left: 545px;
}

#blanco:hover {
  background: #f6ed9f;
  box-shadow: 0 0 10px #f6ed9f, 0 0 40px #f6ed9f, 0 0 80px #f6ed9f;
}

#spanBlanco {
  background: linear-gradient(270deg, transparent, #f6ed9f);
}


.mainCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pixelBut{
  position: relative;
  width: 180px;
  height: 60px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  margin: 20px;
  /* margin-left: 86vh; */
  transition: 0.5s;
  display: inline-block;
  font-family: "ARCADE CLASSIC", "Arial";
}

#pixelBut:hover{
  /* background: #ec0b36 url(../backgrounds/pixel.png); */
  background: #730bec url(../backgrounds/pixel2.png);
  transition-delay: 0.8s;
  background-size: 180px;
  animation: animate 0.8s steps(8) forwards;
}

@keyframes animate{
  0%
  {
    background-position-y:0;
  }
  100%
  {
    background-position-y:-480px;
  }
}