@media (max-height: 950px) {
  /* llamar a la fuente */
  @font-face {
    font-family: "ARCADE CLASSIC";
    src: url("../fonts/ARCADECLASSIC.TTF");
  }

  /* Lo unico que necesitamos del normalize (para lo que vamos a hacer) */

  * {
    margin: 0px;
    padding: 0px;
    font-family: "ARCADE CLASSIC", "Arial";
  }

  body {
    background-image: url(/backgrounds/FondoP.jpg); /* Fondo principal */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
  }

  .contenedorPrincipal {
    position: absolute;
  }

  /* Boton volver al menu */

  a {
    position: relative;
    top: 290px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    background: #262c37;
    letter-spacing: 3px;
    font-size: 20px;
    transition: 0.5s;
  }

  a:hover {
    color: rgba(255, 255, 255, 1);
  }

  a span {
    display: block;
    position: absolute;
    background: #2894ff;
  }

  /* Animacion lado derecho */

  a span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
  }

  a:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
  }

  /* Animacion lado de abajo */

  a span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  a:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
  }

  /* Animacion lado derecho */

  a span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
  }

  /* Animacion lado de arriba */

  a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
  }

  a span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
  }

  a:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
  }
