* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(/backgrounds/FondoPblur.jpg); /* Fondo principal */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
}
