* {
  margin: 0px;
  padding: 0px;
  font-family: 'Francois One', sans-serif;
}

body {
  background-image: url(/backgrounds/FondoPblur.jpg); /* Fondo principal */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
}

/* Efecto blur */
#container {
  height: 500px;
  border-radius: 6px;
  box-shadow: 0 10px 30px #000;
  margin: 50px auto;
  border: 1px solid #ffffff40;
  text-align: center;
  font-family: "ARCADE CLASSIC", "Arial";
}

.blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(243, 243, 243, 0.2);
}

