/* llamar a la fuente */

@font-face {
  font-family: "ARCADE CLASSIC";
  src: url("../fonts/ARCADECLASSIC.TTF");
}

/* Lo unico que necesitamos del normalize (para lo que vamos a hacer) */

* {
  margin: 0px;
  padding: 0px;
  font-family: "ARCADE CLASSIC", "Arial";
}

body {
  background-image: url(/backgrounds/FondoPblur.jpg); /* Fondo principal */
  background-attachment: fixed;
  background-size: cover;
}

/* Efecto blur */
#container {
  width: 400px;
  height: 0%;
  border-radius: 6px;
  box-shadow: 0 10px 30px #000;
  /* ES POR ESTO */
  margin: 240px auto 0px auto;
  border: 1px solid #ffffff40;
  text-align: center;
}

.blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(73, 72, 72, 0.2);
}

/* Esta es la animacion del boton base */

.btn-neon {
  margin: 10px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 4px;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.btn-neon:hover {
  background: rgb(187, 187, 8);
  box-shadow: 0 0 10px rgb(187, 187, 8), 0 0 40px rgb(187, 187, 8), 0 0 80px rgb(187, 187, 8);
  transition-delay: 0.4s;
}

.btn-neon span {
  position: absolute;
  display: block;
}

.span {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(187, 187, 8));
}

.btn-neon:hover .span {
  right: 100%;
  transition: 1s;
}

/* Con la ayuda de id's y clases logro reciclar la animacion anterior, pero con diferentes colores */

/* Boton azul */
#azul:hover {
  background: rgb(7, 31, 161);
  box-shadow: 0 0 10px rgb(7, 31, 161), 0 0 40px rgb(7, 31, 161), 0 0 80px rgb(7, 31, 161);
}

#spanAzul {
  background: linear-gradient(270deg, transparent, rgb(7, 31, 161));
}

/* Boton rojo */

#rojo:hover {
  background: rgb(156, 20, 20);
  box-shadow: 0 0 10px rgb(156, 20, 20), 0 0 40px rgb(156, 20, 20), 0 0 80px rgb(156, 20, 20);
}

#spanRojo {
  background: linear-gradient(270deg, transparent, rgb(156, 20, 20));
}

/* Boton volver al menu */
#blanco {
  bottom: 320px;
  color: rgb(197, 193, 193);
  /* margin: 20px 0px 0px 0px; */
  left: 545px;
}

#blanco:hover {
  background: #f6ed9f;
  box-shadow: 0 0 10px #f6ed9f, 0 0 40px #f6ed9f, 0 0 80px #f6ed9f;
}

#spanBlanco {
  background: linear-gradient(270deg, transparent, #f6ed9f);
}

.mainCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
/* Boton volver al menu */

.boton a {
  position: relative;
  top: 20px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  background: #262c37;
  letter-spacing: 3px;
  font-size: 20px;
  transition: 0.5s;
}

.boton a:hover{
  color: rgba(255, 255, 255, 1);
}

.boton a span{
  display: block;
  position: absolute;
  background: #2894ff;
}

/* Animacion lado derecho */

.boton a span:nth-child(1){
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin:top;
  transition: transform 0.5s;
}

.boton a:hover span:nth-child(1){
  transform: scaleY(1);
  transform-origin:bottom;
  transition: transform 0.5s;
}

/* Animacion lado de abajo */

.boton a span:nth-child(2){
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin:right;
  transition: transform 0.5s;
}

.boton a:hover span:nth-child(2){
  transform: scaleX(1);
  transform-origin:left;
  transition: transform 0.5s;
}

/* Animacion lado derecho */

.boton a span:nth-child(3){
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin:top;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}

/* Animacion lado de arriba */

.boton a:hover span:nth-child(3){
  transform: scaleY(1);
  transform-origin:bottom;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}

.boton a span:nth-child(4){
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin:right;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}

.boton a:hover span:nth-child(4){
  transform: scaleX(1);
  transform-origin:left;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}